@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-scale-105 {
    background-size: 105%;
    transition: background-size;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }
}
