<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <title>Greatest Estate Developer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/static/css/tailwind.css" type="text/css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .required::after {
            content: " ✱";
            color: red
        }
    </style>
</head>

<body class="bg-white">
    <div class="p-4 bg-black flex justify-center">
       <div class="text-xl font-bold text-white">Greatest Estate Gallery</div> 
    </div>
    <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(255,255,255,0)), url('/static/hero.png');" class="relative h-[600px] bg-100% bg-no-repeat flex flex-col justify-end items-center">
        <a href="#form" class="text-black hover:text-white border-2  border-black hover:bg-black cursor-pointer px-3 py-2 rounded-md transition w-fit mb-24">Contact Us</a>
    </div>
    <div hx-trigger="load" hx-get="/section/featured-projects" hx-swap="outerHTML">
    </div>
    <div hx-trigger="load" hx-get="/section/resale-container" hx-swap="outerHTML">
    </div>
    <div hx-trigger="load" hx-get="/section/featured-plots" hx-swap="outerHTML">
    </div>
    <div style="background: linear-gradient(white, rgb(0,0,0,0.3));">
        {{ template "contact-form" . }}
    </div>
</body>

</html>
